numpy==1.26.4
librosa==0.10.2.post1
scikit-learn==1.5.2
matplotlib==3.8.0
keras==3.5.0
tensorflow==2.17.1
soundfile==0.12.1
openai==1.55.1
chromadb
openpyxl==3.1.2
streamlit
pysqlite3-binary

__import__('pysqlite3')
import sys
sys.modules['sqlite3'] = sys.modules.pop('pysqlite3')